<div class="container">
    <h1>Subscription Status</h1>
    <div class="status {{#if isSuccessful}}success{{else if isCreated}}info{{else}}failure{{/if}}">
        {{status}}
    </div>
    {{#if resultDesc}}
    <div class="message">
        {{resultDesc}}
    </div>
    {{/if}}
    <div class="details">
        {{#if reference}}
        <div>Reference</div>
        <div class="reference">{{reference}}</div>
        {{/if}}
        {{#if subscriptionId}}
        <div>Subscription ID</div>
        <div class="reference">{{subscriptionId}}</div>
        {{/if}}
        {{#if transactionId}}
        <div>Transaction ID</div>
        <div class="reference">{{transactionId}}</div>
        {{/if}}
        {{#if authCode}}
        <div>Auth Code</div>
        <div class="reference">{{authCode}}</div>
        {{/if}}
        {{#if amount}}
        <div>Amount</div>
        <div class="reference">R{{amount}} ZAR</div>
        {{/if}}
    </div>
    <a href="http://localhost:5173" class="cta">Return to Store →</a>
</div>
